{% load static %}
{% block extend %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/Borrow.css'%}">
        <script>
            function validation(form){
                 var Days = form.Days.value;
                 
                 if(Days == ''){
                     alert("Error: Please enter Period !");
                     form.Days.focus();
                     return false;
                 }
                 if(Days == 0){
                     alert("Error: Please enter Period Number Greater than 0 !");
                     form.Days.focus();
                     return false;
                 }
 
                 return true;
 
             }
        </script>
    </head>
    <body style="background-image: url({% static 'images/operations.jpg' %}); background-size: cover">
            <a href="{% url 'mybooks'%}"><button class="backButton">Back</button></a>
        <header>Extending Form</header>
        <form method="POST" onsubmit="return validation(this);">
            {% csrf_token %}
            <br><br><br><br>
            <label  name="text">Borrowing period</label>
            <br><br>
            <input type="number" class="Days" name="Days" min="1" max="10" placeholder="enter the number ">
            <br>
            <input type="submit" value="Submit">
        </form>
        
       
    </body>
</html>
{% endblock extend %}