{% load static %}
{% block addbook %}
<html style="background-image:url({% static 'images/library.jpg' %}); background-size: cover;">
    <head>
        <link rel="stylesheet" href="{% static 'css/addbook.css'%}">
    </head>
    <body>
        <div id="a">
        <h1>Updating a Book</h1><br><br>
        <div id="all">
            <form method="POST" >
                {% csrf_token %}
               <label>Book Name : </label>
               <input type="text"  name="bookname" required placeholder="{{book_detail.bookname}}">
               <label>Author : </label>
               <input type="text" name="bookauthor" required placeholder="{{book_detail.bookauthor}}">
               <label>ISBN : </label>
               <input type="text" name="ISBN" required placeholder="{{book_detail.ISBN}}">
               <label>Publication Year : </label>
               <input type="number" name="Year" required placeholder="{{book_detail.Year}}"><br>
               <a href="{% url 'admin'%}"><button type="button">Back to profile </button></a>
               <button type="submit" id="b1">Update</button>
           </form>
        </div>
    </div>
    </body>
</html>
{% endblock addbook%}